* {
    margin: 0px;
    padding: 0px;
  }

.tabla td, .tabla th{
  border: 2px solid #000;
  border-radius: 10%;
  padding: 10px;
}

.textoEjem{
  font-size: 20px;
  margin: 15px;
  color: rgb(7, 41, 61);
}
.impedimento{
  background-color: #808080;
}